<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/posts">See Posts</a>
      <a href="/posts/post-create">Create Post</a>
      <a href="/users/user-create">Add User</a>
      <a href="/users">See Users</a>
    </nav>
    {{{body}}}
  </body>
</html>
